<section class="signup-container">
    <h1>Sign Up</h1>
    <p>StudentID:
        <%= studentId %> - Fullname:
            <%= fullname %>
    </p>

    <% if (message) { %>
        <p class="error">
            <%= message %>
        </p>
        <% } %>

            <form action="/user/signup" method="post">
                <input type="text" name="username" placeholder="Username" required>
                <input type="email" name="email" placeholder="Email" required>
                <input type="password" name="password" placeholder="Password" required>
                <input type="password" name="cpassword" placeholder="Confirm Password" required>



                <div class="g-recaptcha" data-sitekey="<%= process.env.RECAPTCHA_SITE_KEY %>"></div>


                <button type="submit" class="btn">Sign Up</button>
            </form>

            <a href="/auth/google" class="google-btn">Sign In with Google</a>
            <p class="signin-text">
                Already have an account? <a href="/user/signin">Sign in</a>
            </p>
</section>